* {
    text-align: center;
    list-style: none;
 
}

body {
    border: 2px solid powderblue;
    margin: 50px;
    font-family: 'impact', Times, serif, Arial, Helvetica, sans-serif;
    
    
}

h1, h2 {
    color: rgb(26, 24, 29);
    font: 32px impact, Helvetica, serif;
}
